<h1>profiles index</h1>
<a href="/logout">Log out</a>
<a href="/profiles/<%= myProfile._id %>">my profile</a>
<a href="/posts">posts</a>
<% profiles.forEach(prof=>{ %>
    <p><img class="postProfPic" src="<%= prof.profPic %>" alt="profpic"><a href="profiles/<%= prof._id %>"><%= prof.firstName %> <%= prof.lastName %></a></p>
<% }) %>