<%- include('../partials/heading.ejs') %>
<%- include('../partials/navBar', {id: myProfile._id}) %>
<h1>Search For A Profile!</h1>
<form id="searchBar">
    <input class="searchForm" type="text" id="searchText" placeholder="name of profile you are looking for">
    <input class="searchForm" type="submit" value="Search" id="searchButton">
</form>
<div id="profIndexDiv">
    <% profiles.forEach(prof=>{ %>
        <div class="profIndexItem">
            <p hidden class="name"><%= prof.firstName.toLowerCase() + ' ' + prof.lastName.toLowerCase() %></p>
            <a class="profIndexA" href="profiles/<%= prof._id %>">
                <img class="profIndexPic" src="<%= prof.profPic %>" alt="profpic">
                <%= prof.firstName + ' ' + prof.lastName %>
            </a>
        </div>
    <% }) %>
</div>
