
<img class="coverPhoto" src="<%= profile.coverPhoto %>" alt="coverphoto">
<div class="profShowHeader">
    <img class="roundProfPic" src="<%= profile.profPic %>" alt="profpic">
    <h2 class="profName">
        <%= profile.firstName %> <%= profile.lastName %>
    </h2>
</div>

<% if (myProf){ %>
    <a href="/posts/new" class="newPostLink"><button>New Post</button></a>
<% } %>

<a href="/profiles">Back to Profiles</a>
<a href="/posts">Back to Newsfeed</a>
<br>
<% if(posts.length==0){ %>
    <p>You have no posts</p>
    <% } %>
<% posts.forEach(post=>{ %>
    <div class="profShowPost">
        <a href="/posts/<%= post._id %>" class="profShowPostLink">
            <p><%= post.body %></p>
        </a>
    </div>
<% }) %>

