<%- include('../partials/heading.ejs') %>
<%- include("../partials/navBar.ejs", {id: myProfile._id}) %>
<h1>Newsfeed!</h1>
<div class="postsdiv">
    <% posts.reverse().forEach(post=>{ %>
            <% let writer = profiles.find(prof=>{
                return prof.author.toHexString()==post.author
            }) %>
            <div class="postcontainer">
                <p class="profheader">
                    <a href="/profiles/<%=writer._id%>" class="postIndexProfile">
                        <img class="postProfPic" src="<%=writer.profPic%>" alt="<%= writer.firstName %> <%= writer.lastName%>"><%= writer.firstName %> <%= writer.lastName%>
                    </a>
                    
                </p>
                <a href="/posts/<%=post._id%>" class="postLink">
                    <div class="post">
                        <p class="postBody"><%= post.body %></p>
                    </div>
                </a>
                <% let hasLikedList = [] 
                post.whoHasLiked.forEach(l=>{
                    hasLikedList.push(l.toHexString())
                })
                let hasLiked = hasLikedList.includes(myProfile._id.toHexString())
                %>
                <p>Likes: <%= post.whoHasLiked.length %></p>
                <% if (hasLiked){ %>
                <form action="/posts/<%= post._id %>?_method=PUT" method="POST">
                    <input type="hidden" name="unlike" value="notempty">
                    <input type="hidden" name="page" value="posts">
                    <input type="submit" value="Unlike">
                </form>
                <% }else{ %>
                <form action="/posts/<%= post._id %>?_method=PUT" method="POST">
                    <input type="hidden" name="like" value="notempty">
                    <input type="hidden" name="page" value="posts">
                    <input type="submit" value="Like">
                </form>
                <% } %>
                <form action="/posts/<%= post._id %>?_method=PUT" method="POST">
                    <input type="text" name="comments" placeholder="add a comment">
                    <input type="submit" value="Comment">
                </form>
            </div>
    <% }) %>
</div>