<%- include('../partials/heading.ejs') %>
<%- include("../partials/navBar.ejs", {id: myProfile._id}) %>
<div class="postShowDiv">

<div class="postShowProf">
    <img src="<%= profile.profPic %>" alt="profPic" style="height: 100px; width: 100px;">
    <p><%= profile.firstName %> <%= profile.lastName %></p>
</div>
<br>
<br>
<div>
    <%= post.body %>
</div>
<br>
<div>
    likes: <%= post.whoHasLiked.length %>
    <% if (hasLiked){%>
        <form action="/posts/<%= post._id %>?_method=PUT" method="POST">
            <input type="hidden" name="unlike" value="notempty">
            <input type="hidden" name="page" value="posts/<%= post._id %>">
            <input type="submit" value="Unlike">
        </form>
    <% }else{ %>
        <form action="/posts/<%= post._id %>?_method=PUT" method="POST">
            <input type="hidden" name="like" value="notempty">
            <input type="hidden" name="page" value="posts/<%= post._id %>">
            <input type="submit" value="Like">
        </form>
    <% } %>
</div>
</div>

<br>
<br>
<h2>Comments:</h2>
<% post.comments.forEach((comment, i)=>{ %>
    <p><%= post.commentAuthors[i].firstName %>: <%= comment %></p>
<% }) %>
<form action="/posts/<%= post._id %>?_method=PUT" method="POST">
    <input type="text" name="comments" placeholder="add a comment">
    <input type="submit" value="Comment">
</form>
<br>
<br>
<br>
<% if (myPost){ %>
    <div class="modifyButtonsDiv">
        <a href="/posts/<%= post._id %>/edit"><button class="button">Edit Post</button></a>
        <form action="/posts/<%= post._id %>?_method=DELETE" method="POST">
            <input class="button" type="submit" value="Delete">
        </form>
    </div>
<% } %>